@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --zoa-palette-primary: theme('colors.amber.300');
  --zoa-palette-primary-b: theme('colors.amber.400');
  --zoa-palette-secondary: theme('colors.gray.100');
  --zoa-palette-secondary-b: theme('colors.gray.200');
  /*--zoa-palette-tertiary: theme('colors.sky.300');*/
  /*--zoa-palette-tertiary-b: theme('colors.sky.400')*/
}

a {
  color: theme('colors.amber.500');
}

a:hover {
  text-decoration-line: underline;
  color: theme('colors.amber.400');
}

a.no-link {
  color: black;
  text-decoration-line: none;
}
